# 1) Write a python program to display all the header tags from wikipedia.org.

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\balub\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\balub\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\balub\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\balub\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\balub\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\balub\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\balub\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\balub\anaconda3\lib\site-packages (from requests) (3.2)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [4]:
soup=BeautifulSoup(page.content)

In [5]:
tags=[]
for i in soup.find_all('span',class_="mw-headline"):
    tags.append(i.text.replace("\xa0...",""))
tags

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [33]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\balub\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\balub\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\balub\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\balub\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\balub\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\balub\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\balub\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\balub\anaconda3\lib\site-packages (from requests) (1.26.7)

In [34]:
from bs4 import BeautifulSoup
import requests

In [35]:
page=requests.get("https://www.imdb.com/list/ls055592025/")
page

In [36]:
soup=BeautifulSoup(page.content)

In [65]:
titles=[]
for i in soup.find_all(class_="lister-item-header"):
    
    titles.append(i.text.split()[1:-1])

In [28]:
year=[]
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text.strip("()"))

In [29]:
rating=[]
for i in soup.find_all('div',class_="ipl-rating-star small"):
    rating.append(i.text.strip("[]\n"))

In [30]:
print(len(titles),len(year),len(rating))

100 100 100

In [66]:
import pandas as pd
df=pd.DataFrame({"Title":titles,"Release Year":year,"Rating":rating})
df

                           Title Release Year Rating
0               [The, Godfather]         1972    9.2
1   [The, Shawshank, Redemption]         1994    9.3
2            [Schindler's, List]         1993      9
3                 [Raging, Bull]         1980    8.2
4                   [Casablanca]         1942    8.5
..                           ...          ...    ...
95                [Rear, Window]         1954    8.5
96             [The, Third, Man]         1949    8.1
97    [Rebel, Without, a, Cause]         1955    7.7
98        [North, by, Northwest]         1959    8.3
99       [Yankee, Doodle, Dandy]         1942    7.6

[100 rows x 3 columns]

# 3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [68]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page

In [69]:
soup=BeautifulSoup(page.content)

In [70]:
title=[]
for i in soup.find_all('td',class_="titleColumn")[:100]:
    title.append(i.text.split()[1:-1])

In [71]:
rating=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating")[:100]:
    rating.append(i.text.replace("\n",""))

In [89]:
year=[]
for i in soup.find_all('span',class_="secondaryInfo")[:100]:
    year.append(i.text)

In [85]:
print(len(titles),len(year),len(rating))

100 100 100

In [90]:
import pandas as pd
df=pd.DataFrame({'Name':title,'Release Year':year,'Rating':rating})
df

                                Name Release Year Rating
0                        [Jai, Bhim]       (2021)    8.4
1                      [Anbe, Sivam]       (2003)    8.4
2               [Pariyerum, Perumal]       (2018)    8.4
3                          [Golmaal]       (1979)    8.4
4                          [Nayakan]       (1987)    8.4
..                               ...          ...    ...
95  [The, Legend, of, Bhagat, Singh]       (2002)    8.0
96                          [Sholay]       (1975)    8.0
97                          [Angoor]       (1982)    8.0
98  [Baahubali, 2:, The, Conclusion]       (2017)    8.0
99        [Maheshinte, Prathikaaram]       (2016)    8.0

[100 rows x 3 columns]

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp

In [22]:
page=requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
page

In [23]:
soup=BeautifulSoup(page.content)

In [24]:
name=[]
for i in soup.find_all(class_="Text__StyledText-sc-oo0kvp-0 cPgaBh NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw"):
    name.append(i.text)

In [25]:
price=[]
for i in soup.find_all(class_="Text__StyledText-sc-oo0kvp-0 dLSsNI"):
    price.append(i.text)

In [26]:
discounts=[]
for i in soup.find_all(class_="Text__StyledText-sc-oo0kvp-0 iDRzyZ NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 dppwvY NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 dppwvY"):
    discounts.append(i.text)

In [27]:
print(len(name),len(price),len(discounts))

20 20 20

In [28]:
import pandas as pd
df =pd.DataFrame({"Product Name":name,"Price":price,"Discount":discounts})
df

,Product Name,Price,Discount
0,Graceful Stylish Women Handbags,₹434,₹50 discount on 1st order
1,Voguish Fashionable Women Handbags,₹346,₹50 discount on 1st order
2,Elegant Attractive Women Handbags,₹386,₹50 discount on 1st order
3,Classic Alluring Women Handbags,₹242,₹42 discount on 1st order
4,Elite Stylish Women Handbags,₹429,₹50 discount on 1st order
5,Elegant Stylish Women Handbags,₹434,₹50 discount on 1st order
6,Classic Stylish Women Handbags,₹334,₹50 discount on 1st order
7,Classic Fashionable Women Handbags,₹91,₹16 discount on 1st order
8,Trendy Fashionable Women Handbags,₹434,₹50 discount on 1st order
9,Ravishing Alluring Women Handbags,₹765,₹50 discount on 1st order
10,Voguish Classy Women Handbags,₹354,₹50 discount on 1st order
11,Classic Stylish Women Handbags,₹383,₹50 discount on 1st order
12,Elite Stylish Women Handbags,₹449,₹50 discount on 1st order
13,Trendy Versatile Women Handbags,₹73,₹12 discount on 1st order
14,Classic Classy Women Handbags,₹434,₹50 discount on 1st order
15,Elegant Fashionable Women Handbags,₹224,₹39 discount on 1st order
16,Elegant Attractive Women Handbags,₹424,₹50 discount on 1st order
17,Elegant Versatile Women Handbags,₹634,₹50 discount on 1st order
18,Ameyson Attractive Women Jute Printed Lunch Ti...,₹176,₹30 discount on 1st order
19,Graceful Attractive Women Handbags,₹476,₹50 discount on 1st order

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [29]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [30]:
soup=BeautifulSoup(page.content)

In [31]:
team=[]
for i in soup.find_all('span',class_="u-hide-phablet")[:10]:
    team.append(i.text)

In [32]:
match=[]
for i in soup.find_all('td',class_="table-body__cell u-center-text")[:18:2]:
    match.append(i.text)
match

['32', '29', '38', '31', '36', '28', '35', '36', '23']

In [33]:
match.insert(0,'18')

In [34]:
points=[]
for i in soup.find_all('td',class_="table-body__cell u-center-text")[1:18:2]:
    points.append(i.text)

In [35]:
points.insert(0,'2,185')

In [36]:
rating=[]
for i in soup.find_all(class_="table-body__cell u-text-right rating")[:9]:
    rating.append(i.text)

In [37]:
rating.insert(0,'121')

In [38]:
print(len(team),len(match),len(points),len(rating))

10 10 10 10

In [40]:
import pandas as pd
df=pd.DataFrame({'Teams':team,'Matches':match,'Points':points,'Rating':rating})
df

          Teams Matches Points Rating
0   New Zealand      18  2,185    121
1       England      32  3,793    119
2     Australia      29  3,387    117
3         India      38  4,162    110
4  South Africa      31  3,167    102
5    Bangladesh      36  3,350     93
6      Pakistan      28  2,590     93
7     Sri Lanka      35  2,835     81
8   West Indies      36  2,788     77
9   Afghanistan      23  1,562     68

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [41]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page

In [42]:
soup=BeautifulSoup(page.content)

In [43]:
player=[]
for i in soup.find_all(class_="table-body__cell rankings-table__name name")[:9]:
    player.append(i.text.replace("\n",""))

In [44]:
player.insert(0,'Babar Azam')

In [45]:
team=[]
for i in soup.find_all(class_="table-body__logo-text")[:9]:
    team.append(i.text)

In [46]:
team.insert(0,'PAK')

In [47]:
rating=[]
for i in soup.find_all(class_="table-body__cell rating")[:9]:
    rating.append(i.text)

In [48]:
rating.insert(0,'873')

In [49]:
print(len(player),len(team),len(rating))

10 10 10

In [50]:
import pandas as pd
df=pd.DataFrame({'Player':player,'Team':team,'Rating':rating})
df

                  Player Team Rating
0             Babar Azam  PAK    873
1            Virat Kohli  IND    811
2            Ross Taylor   NZ    794
3           Rohit Sharma  IND    791
4        Quinton de Kock   SA    789
5         Jonny Bairstow  ENG    775
6            Aaron Finch  AUS    771
7  Rassie van der Dussen   SA    769
8           David Warner  AUS    758
9            Imam-ul-Haq  PAK    746

c) Top 10 ODI bowlers along with the records of their team and rating.

In [51]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page

In [52]:
soup=BeautifulSoup(page.content)

In [53]:
player=[]
for i in soup.find_all(class_="table-body__cell rankings-table__name name")[:9]:
    player.append(i.text.replace("\n",""))

In [54]:
player.insert(0,"Trent Boult")

In [55]:
team=[]
for i in soup.find_all(class_="table-body__logo-text")[:9]:
    team.append(i.text)

In [56]:
team.insert(0,'NZ')

In [57]:
rating=[]
for i in soup.find_all(class_="table-body__cell rating")[:9]:
    rating.append(i.text)

In [58]:
rating.insert(0,'737')

In [59]:
print(len(player),len(team),len(rating))

10 10 10

In [60]:
import pandas as pd
df=pd.DataFrame({'Player':player,'Team':team,'Rating':rating})
df

             Player Team Rating
0       Trent Boult   NZ    737
1    Josh Hazlewood  AUS    705
2      Chris Woakes  ENG    700
3        Matt Henry   NZ    687
4  Mujeeb Ur Rahman  AFG    681
5    Jasprit Bumrah  IND    679
6      Mehedi Hasan  BAN    661
7   Shakib Al Hasan  BAN    657
8        Adam Zampa  AUS    650
9       Rashid Khan  AFG    650

# 6.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [61]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [62]:
soup=BeautifulSoup(page.content)

In [63]:
team=[]
for i in soup.find_all('span',class_="u-hide-phablet")[:10]:
    team.append(i.text)

In [64]:
matches=[]
for i in soup.find_all(class_="table-body__cell u-center-text")[:18:2]:
    matches.append(i.text)

In [65]:
matches.insert(0,'27')

In [66]:
points=[]
for i in soup.find_all(class_="table-body__cell u-center-text")[1:18:2]:
    points.append(i.text)

In [67]:
points.insert(0,'4,487')

In [68]:
rating=[]
for i in soup.find_all(class_="table-body__cell u-text-right rating")[:9]:
    rating.append(i.text)

In [69]:
rating.insert(0,'166')

In [70]:
print(len(team),len(matches),len(points),len(rating))

10 10 10 10

In [71]:
import pandas as pd
df=pd.DataFrame({'Team':team,'Matches':matches,'Points':points,'Rating':rating})
df

           Team Matches Points Rating
0     Australia      27  4,487    166
1  South Africa      28  3,504    125
2       England      29  3,425    118
3         India      29  2,890    100
4   New Zealand      31  3,018     97
5   West Indies      28  2,478     89
6    Bangladesh      12    935     78
7      Pakistan      26  1,753     67
8       Ireland       5    240     48
9     Sri Lanka       5    233     47

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [72]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page

In [73]:
soup=BeautifulSoup(page.content)

In [74]:
player=[]
for i in soup.find_all(class_="table-body__cell rankings-table__name name")[:9]:
    player.append(i.text.replace("\n",""))

In [75]:
player.insert(0,'Laura Wolvaardt')

In [76]:
team=[]
for i in soup.find_all(class_="table-body__logo-text")[:9]:
    team.append(i.text)

In [77]:
team.insert(0,'SA')

In [78]:
rating=[]
for i in soup.find_all(class_="table-body__cell rating")[:9]:
    rating.append(i.text)

In [79]:
rating.insert(0,'740')

In [80]:
print(len(player),len(team),len(rating))

10 10 10

In [81]:
import pandas as pd
df=pd.DataFrame({'Player':player,'Team':team,'Rating':rating})
df

              Player Team Rating
0    Laura Wolvaardt   SA    740
1        Beth Mooney  AUS    726
2        Meg Lanning  AUS    718
3     Natalie Sciver  ENG    705
4       Alyssa Healy  AUS    703
5        Mithali Raj  IND    686
6     Rachael Haynes  AUS    684
7     Tammy Beaumont  ENG    682
8  Amy Satterthwaite   NZ    681
9    Smriti Mandhana  IND    669

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [82]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page

In [83]:
soup=BeautifulSoup(page.content)

In [84]:
player=[]
for i in soup.find_all(class_="table-body__cell rankings-table__name name")[:9]:
    player.append(i.text.replace('\n',''))

In [85]:
player.insert(0,'Ellyse Perry')

In [86]:
team=[]
for i in soup.find_all(class_="table-body__logo-text")[:9]:
    team.append(i.text)

In [87]:
team.insert(0,'AUS')

In [88]:
rating=[]
for i in soup.find_all(class_="table-body__cell rating")[:9]:
    rating.append(i.text)

In [89]:
rating.insert(0,'404')

In [90]:
print(len(player),len(team),len(rating))

10 10 10

In [91]:
import pandas as pd
df=pd.DataFrame({'Player':player,'Team':team,'Rating':rating})
df

             Player Team Rating
0      Ellyse Perry  AUS    404
1    Natalie Sciver  ENG    376
2    Marizanne Kapp   SA    359
3   Hayley Matthews   WI    340
4       Amelia Kerr   NZ    335
5  Ashleigh Gardner  AUS    278
6     Deepti Sharma  IND    249
7     Jess Jonassen  AUS    246
8   Katherine Brunt  ENG    239
9    Jhulan Goswami  IND    217

# 7.Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [92]:
page=requests.get("https://coreyms.com/")
page

In [93]:
soup=BeautifulSoup(page.content)

In [94]:
heading=[]
for i in soup.find_all(class_="entry-title"):
    heading.append(i.text)

In [95]:
heading.pop(4)

'Update (2019-09-03)'

In [96]:
date=[]
for i in soup.find_all(class_="entry-time"):
    date.append(i.text)

In [97]:
date.pop(4)

'September 3, 2019'

In [98]:
content=[]
for i in soup.find_all(class_="entry-content"):
    content.append(i.text.replace("\n",""))

In [99]:
content.pop(4)

'Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube '

In [100]:
video=[]
for i in soup.find_all(class_="youtube-player"):
    video.append(i["src"])

In [101]:
print(len(heading),len(content),len(date),len(video))

9 9 9 9

In [102]:
import pandas as pd
df=pd.DataFrame({'Heading':heading,"Content":content,'Date':date,"Video Link":video})
df

,Heading,Content,Date,Video Link
0,Python Tutorial: Zip Files – Creating and Extr...,"In this video, we will be learning how to crea...","November 19, 2019",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"In this Python Programming video, we will be l...","October 17, 2019",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"In this Python Programming video, we will be l...","September 21, 2019",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"In this Python Programming video, we will be l...","September 12, 2019",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Python Quick Tip: The Difference Between “==” ...,"In this Python Programming Tutorial, we will b...","August 6, 2019",https://www.youtube.com/embed/mO_dS3rXDIs?vers...
5,Python Tutorial: Calling External Commands Usi...,"In this Python Programming Tutorial, we will b...","July 24, 2019",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
6,Visual Studio Code (Windows) – Setting up a Py...,"In this Python Programming Tutorial, we will b...","May 1, 2019",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
7,Visual Studio Code (Mac) – Setting up a Python...,"In this Python Programming Tutorial, we will b...","May 1, 2019",https://www.youtube.com/embed/06I63_p-2A4?vers...
8,Clarifying the Issues with Mutable Default Arg...,"In this Python Programming Tutorial, we will b...","April 24, 2019",https://www.youtube.com/embed/_JGmemuINww?vers...

# 8.Write a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,Rajaji Nagar.

In [103]:
page=requests.get("https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn0seyJsYXQiOjEyLjk3ODM2OTIsImxvbiI6NzcuNjQwODM1NiwicGxhY2VJZCI6IkNoSUprUU4zR0tRV3Jqc1JOaEJRSnJoR0Q3VSIsInBsYWNlTmFtZSI6IkluZGlyYW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Jayanagar,&locality=Indiranagar")
page

In [104]:
soup=BeautifulSoup(page.content)

In [105]:
title=[]
for i in soup.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    title.append(i.text)

In [106]:
location=[]
for i in soup.find_all(class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    location.append(i.text)

In [107]:
emi=[]
for i in soup.find_all('div',class_="font-semi-bold heading-6")[1:14:3]:
    emi.append(i.text)

In [108]:
price=[]
for i in soup.find_all('div',class_="font-semi-bold heading-6")[2::3]:
    price.append(i.text)

In [109]:
print(len(title),len(location),len(emi),len(price))

5 5 5 5

In [110]:
import pandas as pd
df=pd.DataFrame({'Title':title,'Location':location,'EMI':emi,'Price':price})
df

,Title,Location,EMI,Price
0,2 BHK Apartment For Sale In Tarang Parkway A...,"Tarang Parkway Apartment 2nd Main Rd, Shivana...","₹57,314/Month",₹1 Crore
1,2 BHK Flat For Sale In Kumar Ashraya Apartme...,"Kumar Ashraya Apartments 194, 9th Cross Rd 2n...","₹37,827/Month",₹66 Lacs
2,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross road,9th main ro...","₹63,045/Month",₹1.1 Crores
3,4+ BHK In Independent House For Sale In Jaya...,"Independent House, TMC Layout behind rajalaxmi...",₹2.21 Lacs/Month,₹3.85 Crores
4,2 BHK Apartment For Sale In Blueberry Apartm...,"Blueberry Apartment 13th E Main Rd, Channakes...","₹87,691/Month",₹1.53 Crores

# 9.Write a python program to scrape mentioned details from dineout.co.in :

i) Restaurant name 
ii) Cuisine 
iii) Location
iv) Ratings 
v) Image URL

In [92]:
page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page

In [93]:
soup=BeautifulSoup(page.content)

In [102]:
name=[]
for i in soup.find_all('div',class_="restnt-info cursor"):
    name.append(i.text)

In [103]:
cuisine=[]
for i in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split()[6:])

In [104]:
location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)

In [105]:
ratings=[]
for i in soup.find_all(class_="restnt-rating rating-4"):
    ratings.append(i.text)

In [106]:
url=[]
for i in soup.find_all('img',class_="no-img"):
    url.append(i["data-src"])

In [107]:
print(len(name),len(cuisine),len(location),len(ratings),len(url))

13 13 13 13 13

In [108]:
import pandas as pd
df=pd.DataFrame({'Restaurant Name':name,'Cuisine':cuisine,'Location':location,'Ratings':ratings,'Image URL':url})
df

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,"Castle BarbequeConnaught Place, Central Delhi","[North, Indian,, Chinese]","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","[North, Indian,, Asian,, Italian]","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","[Chinese,, North, Indian]","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","[Italian,, Continental]","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","[North, Indian,, Chinese]","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","[North, Indian,, Italian]","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","[North, Indian]","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"[North, Indian,, Chinese]","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","[North, Indian,, Chinese,, Continental]","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","[North, Indian,, Mughlai]","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","[North, Indian]","Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","[North, Indian,, Mughlai,, Desserts,, Beverages]","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"[European,, Italian,, Asian,, Continental]","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [120]:
from bs4 import BeautifulSoup
import requests

In [121]:
page=requests.get("https://www.bewakoof.com/women-plain-t-shirts")
page

In [122]:
soup=BeautifulSoup(page.content)

In [123]:
name=[]
for i in soup.find_all('h3')[:10]:
    name.append(i.text)

In [124]:
price=[]
for i in soup.find_all('span',class_="discountedPriceText")[:10]:
    price.append(i.text)

In [125]:
url = []

for i in soup.find_all('img',class_="productImgTag")[:10]: 

    url.append(i.get('src'))

In [126]:
import pandas as pd
df=pd.DataFrame({'Product Name':name,'Price':price,'Image URL':url})
df

,Product Name,Price,Image URL
0,Ceylon Yellow Elbow Sleeve Round Neck T-shirt,₹ 449,https://images.bewakoof.com/t320/ceylon-yellow...
1,Women's Black Elbow Sleeve Scoop Neck T-shirt,₹ 399,https://images.bewakoof.com/t320/black-elbow-s...
2,Women's Olive Elbow Sleeve Scoop Neck T-shirt,₹ 449,https://images.bewakoof.com/t320/olive-branch-...
3,Lavender Keyhole neck top,₹ 699,https://images.bewakoof.com/t320/lavender-keyh...
4,Women's Red Solid Oversized T-shirt,₹ 562,https://images.bewakoof.com/t320/women-s-red-s...
5,Women's Blue Solid Oversized T-shirt,₹ 562,https://images.bewakoof.com/t320/women-s-blue-...
6,Women's Pink Solid Oversized T-shirt,₹ 562,https://images.bewakoof.com/t320/women-s-pink-...
7,Women's Black Solid Oversized T-shirt,₹ 562,https://images.bewakoof.com/t320/women-s-black...
8,Women's Orange Solid Oversized T-shirt,₹ 562,https://images.bewakoof.com/t320/women-s-orang...
9,Women's Green Solid Oversized T-shirt,₹ 562,https://images.bewakoof.com/t320/women-s-green...