# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
    
1. First get the webpage https://www.naukri.com/
    
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.

3. Then click the search button.

4. Then scrape the data for the first 10 jobs results you get.

5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\balub\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\balub\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\balub\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\balub\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\balub\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\balub\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\balub\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\balub\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\balub\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\balub\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\balub\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\balub\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [88]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")

In [134]:
driver=webdriver.Chrome("chromedriver.exe")

In [135]:
driver.get("https://www.naukri.com/")

In [136]:
designation=driver.find_element_by_class_name("suggestor-input")
designation.send_keys("Data Analyst")
location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
location.send_keys("Bangalore")
search=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search.click()

In [137]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"
driver.get(url)

In [138]:
job_title=[]
company_names=[]
experience_list=[]
location_list=[]

In [139]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[:10]

['Senior Data Analyst/ Business Analyst',
 'Sr Domain Expert -Data Analysts',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst (Digital Services Analytics)',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Platform & Security']

In [140]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[:10]

['Rupeek',
 'Siemens',
 'Walmart',
 'LatentView',
 'FINNOVATION TECH SOLUTIONS PRIVATE LIMITED',
 'Dell Technologies',
 'Cerner',
 'Myntra',
 'Enrich talents',
 'National Geographic']

In [141]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['2-7 Yrs',
 '0-10 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-6 Yrs',
 '8-12 Yrs',
 '1-3 Yrs',
 '0-4 Yrs',
 '4-6 Yrs']

In [142]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags:
    location=i.text
    location_list.append(location)
location_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [143]:
print(len(job_title),len(company_names),len(experience_list),len(location_list))

20 20 20 20

In [144]:
data_analyst_jobs=pd.DataFrame({})
data_analyst_jobs['Title']=job_title[:10]
data_analyst_jobs['Company']=company_names[:10]
data_analyst_jobs['Experience_Required']=experience_list[:10]
data_analyst_jobs['Location']=location_list[:10]

In [145]:
data_analyst_jobs

,Title,Company,Experience_Required,Location
0,Senior Data Analyst/ Business Analyst,Rupeek,2-7 Yrs,Bangalore/Bengaluru
1,Sr Domain Expert -Data Analysts,Siemens,0-10 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Walmart,5-8 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst,LatentView,2-6 Yrs,"Chennai, Bangalore/Bengaluru"
4,Senior Data Analyst,FINNOVATION TECH SOLUTIONS PRIVATE LIMITED,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
5,Senior Data Analyst (Digital Services Analytics),Dell Technologies,1-6 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,Cerner,8-12 Yrs,Bangalore/Bengaluru
7,Data Analyst,Myntra,1-3 Yrs,Bangalore/Bengaluru
8,Data Analyst,Enrich talents,0-4 Yrs,Bangalore/Bengaluru
9,Data Analyst - Platform & Security,National Geographic,4-6 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:

1. First get the webpage https://www.naukri.com/

2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

3. Then click the search button.

4. Then scrape the data for the first 10 jobs results you get.

5. Finally create a dataframe of the scraped data.

In [105]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")

In [106]:
driver=webdriver.Chrome("chromedriver.exe")

In [107]:
driver.get("https://www.naukri.com/")

In [108]:
designation=driver.find_element_by_class_name('suggestor-input')
designation.send_keys("Data Scientist")
location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div[1]/input")
location.send_keys("Bangalore")
search=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search.click()

In [109]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"
driver.get(url)

In [110]:
job_title=[]
company_names=[]
experience_list=[]
location_list=[]

In [111]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[:10]

['Senior Data Scientist',
 'Data Scientist',
 'Analyst - Data Scientist',
 'Senior Data Scientist',
 'Sr. Associate - Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist / Machine learning Engineer',
 'Junior Data Scientist',
 'Data Analyst / Data Scientist']

In [112]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[:10]

['GSK India',
 'Applied Materials',
 'MilliporeSigma',
 'Flipkart',
 'CHANGE LEADERS CONSULTING',
 'GSK India',
 'Roposo',
 'Leading US MNC into Analytics',
 'Accenture',
 'JK Technosoft']

In [113]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['5-9 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '5-8 Yrs',
 '2-4 Yrs',
 '5-9 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '5-7 Yrs']

In [114]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags:
    location=i.text
    location_list.append(location)
location_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [115]:
print(len(job_title),len(company_names),len(experience_list),len(location_list))

20 20 20 20

In [116]:
data_scientist_jobs=pd.DataFrame({})
data_scientist_jobs['Title']=job_title[:10]
data_scientist_jobs['Company']=company_names[:10]
data_scientist_jobs['Experience_Required']=experience_list[:10]
data_scientist_jobs['Location']=location_list[:10]

In [117]:
data_scientist_jobs

,Title,Company,Experience_Required,Location
0,Senior Data Scientist,GSK India,5-9 Yrs,Bangalore/Bengaluru
1,Data Scientist,Applied Materials,2-7 Yrs,Bangalore/Bengaluru
2,Analyst - Data Scientist,MilliporeSigma,2-7 Yrs,Bangalore/Bengaluru
3,Senior Data Scientist,Flipkart,5-8 Yrs,Bangalore/Bengaluru
4,Sr. Associate - Data Scientist,CHANGE LEADERS CONSULTING,2-4 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
5,Senior Data Scientist,GSK India,5-9 Yrs,Bangalore/Bengaluru
6,Data Scientist,Roposo,3-6 Yrs,Bangalore/Bengaluru
7,Data Scientist / Machine learning Engineer,Leading US MNC into Analytics,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ..."
8,Junior Data Scientist,Accenture,2-6 Yrs,Bangalore/Bengaluru
9,Data Analyst / Data Scientist,JK Technosoft,5-7 Yrs,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:

1. first get the webpage https://www.naukri.com/

2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.

3. Then click the search button.

4. Then apply the location filter and salary filter by checking the respective boxes

5. Then scrape the data for the first 10 jobs results you get.

6. Finally create a dataframe of the scraped data.

In [17]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.naukri.com/")

In [18]:
designation=driver.find_element_by_class_name('suggestor-input')
designation.send_keys("Data Scientist")
location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div[1]/input")
location.send_keys("Bangalore")
search=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search.click()

In [19]:
salary_filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
salary_filter.click()

In [21]:
location_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[12]/div[3]/div[2]/div[6]/label/i')
location_filter.click()

In [22]:
#job-title, job-location, company name, experience required.
job_title=[]
location_list=[]
company_names=[]
experience_list=[]

In [23]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[:10]

['Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Data Scientist',
 'Data Scientist - Python/SQL',
 'Data Scientist',
 'Urgent opening For Data Scientist role',
 'Data & Applied Scientist',
 'Data and applied Scientist',
 'Data Scientist',
 'Senior Data Scientist Lead',
 'Data Analyst/Data Engineer']

In [24]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags:
    location=i.text
    location_list.append(location)
location_list[0:10]

['Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon, Bengaluru',
 'Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra, Gurgaon/Gurugram, Jaipur, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru']

In [25]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[:10]

['Creative Hands HR Consultancy',
 'BlackBuck',
 'AVE-Promagne',
 'Country Veggie',
 'GLOBAL UPSIDE India Pvt Ltd',
 'Microsoft',
 'Microsoft',
 'SpotDraft',
 'Wipro',
 'Coforge']

In [26]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['0-4 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '6-11 Yrs',
 '6-10 Yrs']

In [27]:
print(len(job_title),len(location_list),len(company_names),len(experience_list))

20 20 20 20

In [28]:
jobs=pd.DataFrame({})
jobs['Title']=job_title[:10]
jobs['Company']=company_names[:10]
jobs['Experience_Required']=experience_list[:10]
jobs['Location']=location_list[:10]

In [29]:
jobs

,Title,Company,Experience_Required,Location
0,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,0-4 Yrs,"Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba..."
1,Data Scientist,BlackBuck,3-7 Yrs,"Gurgaon, Bengaluru"
2,Data Scientist - Python/SQL,AVE-Promagne,3-8 Yrs,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra..."
3,Data Scientist,Country Veggie,1-3 Yrs,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu..."
4,Urgent opening For Data Scientist role,GLOBAL UPSIDE India Pvt Ltd,2-4 Yrs,"New Delhi, Bangalore/Bengaluru"
5,Data & Applied Scientist,Microsoft,3-7 Yrs,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
6,Data and applied Scientist,Microsoft,3-7 Yrs,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
7,Data Scientist,SpotDraft,1-5 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
8,Senior Data Scientist Lead,Wipro,6-11 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
9,Data Analyst/Data Engineer,Coforge,6-10 Yrs,"Noida, Mumbai, Hyderabad/Secunderabad, Pune, B..."

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand

2. Product Description

3. Price

To scrape the data you have to go through following steps:

1. Go to Flipkart webpage by url : https://www.flipkart.com/

2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon.

3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual.

4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.

5. Now scrape data from this page as usual.

6. Repeat this until you get data for 100 sunglasses.

In [177]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [178]:
cl=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
cl.click()

In [179]:
product_search=driver.find_element_by_class_name("_3704LK")
product_search.send_keys("sunglasses")

In [180]:
search=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [181]:
brand=[]
product_description=[]
price=[]

In [182]:
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    name=i.text
    brand.append(name)
brand

['Fastrack',
 'SUNBEE',
 'Elligator',
 'PIRASO',
 'New Specs',
 'Fastrack',
 'SRPM',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'Lee Topper',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'PIRASO',
 'PIRASO',
 'Lee Topper',
 'New Specs',
 'GANSTA',
 'hipe',
 'hipe',
 'kingsunglasses',
 'kingsunglasses',
 'DEIXELS',
 'SRPM',
 'Elligator',
 'hipe',
 'elegante',
 'Fastrack',
 'Singco India',
 'SUNBEE',
 'SRPM',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'hipe',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'hipe',
 'kingsunglasses']

In [183]:
product_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in product_tag:
    pt=i.text
    product_description.append(pt)

In [184]:
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    prt=i.text
    price.append(prt)

In [185]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_page.click()

In [186]:
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    name=i.text
    brand.append(name)

In [187]:
product_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in product_tag:
    pt=i.text
    product_description.append(pt)

In [188]:
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    prt=i.text
    price.append(prt)

In [189]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_page.click()

In [190]:
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    name=i.text
    brand.append(name)

In [191]:
product_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in product_tag:
    pt=i.text
    product_description.append(pt)

In [192]:
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    prt=i.text
    price.append(prt)

In [193]:
print(len(brand),len(product_description),len(price))

120 120 120

In [194]:
sg=pd.DataFrame({})
sg['Brand']=brand[:100]
sg['Product_Description']=product_description[:100]
sg['Price']=price[:100]

In [195]:
sg

             Brand                                Product_Description Price
0         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹719
1           SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...  ₹273
2        Elligator                UV Protection Round Sunglasses (54)  ₹295
3           PIRASO              UV Protection Aviator Sunglasses (54)  ₹249
4        New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹265
..             ...                                                ...   ...
95        Fastrack             UV Protection Wayfarer Sunglasses (57)  ₹719
96       Rich Club  Polarized, UV Protection, Riding Glasses Wayfa...  ₹348
97  kingsunglasses  Mirrored, UV Protection Wayfarer, Wayfarer, Wa...  ₹269
98         Urbanic         Others Retro Square Sunglasses (Free Size)  ₹569
99         Urbanic         Others Retro Square Sunglasses (Free Size)  ₹489

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

When you will open the above link you will reach to the below shown webpage.

As shown in the above page you have to scrape the tick marked attributes.These are:

1. Rating

2. Review summary

3. Full review

4. You have to scrape this data for first 100 reviews.

In [252]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.flipkart.com/apple-iphone-11-white-64-gb/p/itm2644c3764fc54")

In [253]:
rating=[]
review_summary=[]
full_review=[]

In [254]:
cl=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div")
cl.click()

In [255]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)
rating

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [256]:
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
review_summary

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny']

In [257]:
fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)
full_review

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [258]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [259]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)

In [260]:
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
review_summary

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny']

In [261]:
fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [262]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [263]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)

In [264]:
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
review_summary

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific']

In [265]:
fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [266]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [267]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)

In [268]:
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
review_summary

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific']

In [269]:
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
review_summary

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific']

In [270]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [271]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)

In [272]:
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
review_summary

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific',
 'Just wow!',
 'Wonderful',
 'Nice product',
 'Mind-blowing purchase',
 'Terrific',
 'Excellent',
 'Brilliant',
 'Excellent',
 'Pretty good',
 'Mind-blowing purchase']

In [273]:
fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [274]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)

review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)

fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [275]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [276]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)

review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
    
fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [277]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [278]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)
    
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
    
fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [279]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [280]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)
    
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
    
fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [281]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [282]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)
    
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
    
fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [283]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [284]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)
    
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)

fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [285]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [286]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)
    
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
    
fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [287]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
next_page.click()

In [288]:
rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    t=i.text
    rating.append(t)
    
review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in review_tag:
    t=i.text
    review_summary.append(t)
    
fr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fr_tag:
    fr=i.text
    full_review.append(fr)

In [292]:
reviews=pd.DataFrame({})
reviews['Rating']=rating[:100]
reviews['Review_Summary']=review_summary[:100]
reviews['Full_review']=full_review[:100]
reviews

,Rating,Review_Summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Good quality product,It is a very good phone but price is very high...
96,5,Simply awesome,"Hmmm., my first iphone and i love it .\nI thou..."
97,5,Wonderful,Dont think too much guys. perfect phone for da...
98,5,Classy product,Amazing delivery. Got my phone a day before ex...
99,5,Excellent,It is iPhone. There isn't much I could say abo...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker:

1. Brand

2. Product Description

3. Price

In [376]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)
driver.get("https://www.flipkart.com/")

In [377]:
cl=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
cl.click()

In [378]:
product_search=driver.find_element_by_class_name("_3704LK")
product_search.send_keys("sneakers")

In [379]:
search=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [380]:
brand=[]
product_description=[]
price=[]
discount=[]

In [381]:
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    name=i.text
    brand.append(name)
    
product_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in product_tag:
    pt=i.text
    product_description.append(pt)
    
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    prt=i.text
    price.append(prt)
    
discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for i in discount_tag:
    dt=i.text
    discount.append(dt)

In [382]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_page.click()

In [383]:
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    name=i.text
    brand.append(name)
    
product_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in product_tag:
    pt=i.text
    product_description.append(pt)
    
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    prt=i.text
    price.append(prt)
    
discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for i in discount_tag:
    dt=i.text
    discount.append(dt)

In [384]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_page.click()

In [385]:
brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag:
    name=i.text
    brand.append(name)
    
product_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in product_tag:
    pt=i.text
    product_description.append(pt)
    
price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tag:
    prt=i.text
    price.append(prt)
    
discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for i in discount_tag:
    dt=i.text
    discount.append(dt)

In [386]:
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_page.click()

In [387]:
product_tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in product_tag:
    pt=i.text
    product_description.append(pt)

In [388]:
print(len(brand),len(product_description),len(price),len(discount))

120 125 120 120

In [389]:
sk=pd.DataFrame({})
sk['Brand']=brand[:100]
sk['Product_Description']=product_description[:100]
sk['Price']=price[:100]
sk['Discount']=discount[:100]

In [390]:
sk

,Brand,Product_Description,Price,Discount
0,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹249,62% off
1,corsac,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹449,70% off
2,URBANBOX,516 Trendy Star Perfect Sneakers For Men,₹158,84% off
3,Chevit,Sneakers For Men,₹209,73% off
4,aadi,5011-Latest Collection Stylish & Trendy Casual...,₹269,73% off
...,...,...,...,...
95,Xtoon,"Casuals, Party Wear Sneakers For Men",₹399,60% off
96,Navtrend,RS-X Twill AirMesh Sneakers For Men,₹379,81% off
97,PUMA,X-Ray Millenium Sneakers For Men,"₹3,676",59% off
98,Chevit,323 Sneakers For Men,₹385,75% off
99,Bacan,Suede Bloc LTH Sneakers For Men,₹449,55% off

# Q7: Go to the link - https://www.myntra.com/shoes

Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black” And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe.

In [423]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.myntra.com/shoes")

In [424]:
price_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [425]:
color_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

In [426]:
brand=[]
product_description=[]
price=[]

In [427]:
brand_tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
for i in brand_tag:
    name=i.text
    brand.append(name)
brand

['Skechers',
 'ALDO',
 'Skechers',
 'ADIDAS',
 'ALDO',
 'ALDO',
 'Hush Puppies',
 'Puma',
 'Skechers',
 'ALDO',
 'Puma',
 'Nike',
 'Columbia',
 'Puma',
 'Hush Puppies',
 'PUMA Motorsport',
 'PUMA Motorsport',
 'ADIDAS',
 'Bugatti',
 'Puma',
 'ADIDAS',
 'Puma',
 'DAVINCHI',
 'Clarks',
 'Hush Puppies',
 'Hush Puppies',
 'Bugatti',
 'PUMA Motorsport',
 'Puma',
 'Tommy Hilfiger',
 'Bugatti',
 'PUMA Motorsport',
 'ADIDAS',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'ADIDAS Originals',
 'PUMA Motorsport',
 'PUMA Motorsport',
 'PUMA Motorsport',
 'Puma',
 'Tommy Hilfiger',
 'Saint G',
 'Puma',
 'DEL MONDO',
 'Bugatti',
 'ADIDAS',
 'PUMA Hoops',
 'DAVINCHI',
 'ADIDAS',
 'Puma']

In [428]:
len(brand)

50

In [429]:
product_tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]")
for i in product_tag:
    pt=i.text
    product_description.append(pt)
product_description

['Men Walking Shoes',
 'Men Leather Driving Shoes',
 'Men Max Cushioning Running',
 'Men Dropset Training Shoes',
 'Men Printed Sneakers',
 'Men Woven Design Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Colourblocked RS-Z Core',
 'Men Sky Vault Walking Shoes',
 'Men Leather Loafers',
 'Eternity Nitro Running Shoes',
 'Men Air Max Dawn Sneakers',
 'Men FACET OUTDRY Trekking Shoe',
 'Electrify Nitro Running Shoes',
 'Men Formal Derbys',
 'Ferrari X-Ray Speed Sneakers',
 'Unisex Ferrari IONSpeed',
 'Men Sl20.3 Running Shoes',
 'Men Solid Sneakers',
 'Men Golf Shoes',
 'Men Solar Glide 5 Running Shoe',
 'Men Deviate Nitro Shoes',
 'Men Solid Leather Formal Loafers',
 'Men Leather Derbys',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Formal Slip-Ons',
 'Men Leather Driving Shoes',
 'Unisex Ferrari Drift Cat Delta',
 'Women Kosmo Rider DC5 Sneakers',
 'Men Textured Loafers',
 'Men Black Formal Derby Shoes',
 'Men ZenonSpeed Sneakers',
 'Women Supernova Running Shoes',
 'Men Flexi Sneakers',
 'Men Leather Sneakers',
 'Men Solid Retropy F2 Sneakers',
 'Unisex Mercedes F1 R-Cat',
 'Unisex Ferrari Neo Cat Sneaker',
 'Ferrari R-Cat Machina Sneakers',
 'Women XT FTR Training Shoes',
 'Men Textured Loafers',
 'Leather Block Sandals',
 'Unisex KING Top FG Shoes',
 'Men Leather Sneakers',
 'Men Leather Monks',
 'Women KarlieKlossX9000 Running',
 'Men Basketball Shoes',
 'Men Textured Formal Leather Loafers',
 'Women Dropset Training Shoes',
 'Mirage Sport Hacked Sneakers']

In [430]:
len(product_description)

50

In [431]:
price_tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div/span[1]")
for i in price_tag:
    prt=i.text
    price.append(prt)

In [432]:
price

['Rs. 7649Rs. 8999',
 'Rs. 12999',
 'Rs. 7649Rs. 8999',
 'Rs. 11049Rs. 12999',
 'Rs. 9099Rs. 12999',
 'Rs. 13999',
 'Rs. 7649Rs. 8999',
 'Rs. 9999',
 'Rs. 7199Rs. 8999',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 7436Rs. 9295',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 8499Rs. 9999',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 10199Rs. 11999',
 'Rs. 10499',
 'Rs. 8999',
 'Rs. 11899Rs. 13999',
 'Rs. 12749Rs. 14999',
 'Rs. 8490',
 'Rs. 7499',
 'Rs. 8499Rs. 9999',
 'Rs. 8499Rs. 9999',
 'Rs. 8499',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 8499Rs. 9999',
 'Rs. 7999',
 'Rs. 8599',
 'Rs. 8099Rs. 8999',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 7499',
 'Rs. 8599',
 'Rs. 9810Rs. 10900',
 'Rs. 8999Rs. 11999',
 'Rs. 7890',
 'Rs. 8999',
 'Rs. 13999',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 11049Rs. 12999',
 'Rs. 7649Rs. 8999']

In [433]:
len(price)

50

In [434]:
next_page=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
next_page.click()

In [435]:
brand_tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
for i in brand_tag:
    name=i.text
    brand.append(name)
    
product_tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]")
for i in product_tag:
    pt=i.text
    product_description.append(pt)
    
price_tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div/span[1]")
for i in price_tag:
    prt=i.text
    price.append(prt)

In [436]:
print(len(brand),len(product_description),len(price))

100 100 100

In [437]:
df=pd.DataFrame({})
df['Brand']=brand
df['Product_Description']=product_description
df['Price']=price
df

            Brand              Product_Description               Price
0        Skechers                Men Walking Shoes    Rs. 7649Rs. 8999
1            ALDO        Men Leather Driving Shoes           Rs. 12999
2        Skechers       Men Max Cushioning Running    Rs. 7649Rs. 8999
3          ADIDAS       Men Dropset Training Shoes  Rs. 11049Rs. 12999
4            ALDO             Men Printed Sneakers   Rs. 9099Rs. 12999
..            ...                              ...                 ...
95        Bugatti                Men Walking Shoes    Rs. 7199Rs. 8999
96  Royal Enfield             Cabo WP Riding Boots    Rs. 8075Rs. 8500
97          ASICS    Men Colourblocked PU Sneakers            Rs. 9999
98   Sole To Soul  Platform Peep Toes with Buckles            Rs. 7690
99           Nike     Men AIR MAX PRE-DAY Sneakers  Rs. 12595Rs. 13995

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

For Intel core i7

In [3]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.amazon.in/")

In [4]:
product_search=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product_search.send_keys("Laptops")

In [5]:
search=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [6]:
cpu_filter=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/div/label/i")
cpu_filter.click()

In [7]:
title=[]
rating=[]
price=[]

In [8]:
title_tag=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tag:
    name=i.text
    title.append(name)
title

['Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office 21/Backlit KB/FP Sensor/1.7Kg)',
 'Samsung Galaxy Book2 Pro Intel 12th Gen i7 EvoTM 33.78cm (13.3") AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MSO Home & Student 2021/Silver/0.87Kg), NP930XED-KB2IN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU,Natural Silver',
 'LG Gram 16 inches Intel Evo 11th Gen Core i7 Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 16Z90P-G.AH85A2, Black)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Samsung Galaxy Book2 Pro Intel 12th Gen i7 EvoTM 33.78cm (13.3") AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MSO Home & Student 2021/Silver/0.87Kg), NP930XED-KB2IN',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS VivoBook K15 OLED (2021), 15.6-inch FHD OLED, Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Office 2021/Windows 11/Indie Black/1.8 Kg) K513EA-L712WS',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 4GB Graphics, Gaming Laptop (8GB/512GB SSD/Windows 10/Eclipse Gray/2.3 Kg), FX566HC-HN093T',
 'ASUS ZenBook 13 OLED (2021) Intel Core i7-1165G7 11th Gen 13.3" (33.78 cms) FHD Thin and Light Laptop (16GB/512GB SSD/Windows 10/Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.14 kg), UX325EA-KG722TS',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 39.62 cm (15.6") FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 'Lenovo Yoga 7 Intel Evo Core i7 11th Gen 14" FHD IPS 2-in-1 Touchscreen Convertible Laptop(16GB/512GB SSD/Windows 11/Office 2021/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg),82BH00HWIN',
 'Samsung Galaxy Book2 Pro Intel 12th Gen i7 EvoTM 39.62cm (15.6") AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.11Kg), NP950XED-KA1IN',
 'Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7 EvoTM 15.6 inch Touchscreen 2-in-1 AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MSO Home & Student 2021/Graphite/1.41Kg), NP950QED-KA1IN',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6 inches FHD IPS Gaming Laptop (32GB/1TB SSD/Windows 11 Home/8GB Graphics/NVIDIA GeForce RTX 3070/300 Hz, Black, 2.3Kg) PH315-54',
 'ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 kg), FX577ZE-HN056W',
 'Lenovo ThinkBook Yoga 14s Intel Core i7 11th Gen 14"(35.56cm) FHD IPS 300 nits 100% sRGB Dolby Vision 2-in-1 Touchscreen Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Active Pen/1.50 kg) 20WEA01EIH',
 'Acer Nitro 5 Gaming Laptop/12th Gen Intel Core i7-12700H Processor 14core/15.6"(39.6cm) FHD 144Hz Display(16GB/512GB SSD/1TB HDD/RTX 3050Ti Graphics/Windows 11/RGB),AN515-58 + Xbox Game Pass Ultimate',
 '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (8GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HCB-HN231T, Eclipse Gray',
 '(Refurbished) Dell Intel Core i7 6th Gen 14.Inch(35.6 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop(8GB RAM/256GB SSD/Windows 10 Pro/MS Office/Intel Integrated HD Graphics /1.18Kg,Black) Latitude E7470',
 '(Refurbished) Dell Intel Core i7 7th Gen 14.Inch(35.6 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (16GB RAM/512GB SSD/Windows 10 Pro/MS Office/ Intel HD Integrated Graphics/1.18Kg,Black) Latitude E7480',
 '(Renewed) Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7 EvoTM  33.78 cm (13.3") Touchscreen 2-in-1 AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MSO Home & Student 2021/Silver/1.04Kg), NP930QED-KB2IN',
 'ASUS ZenBook 13 OLED (2021) Intel Core i7-1165G7 11th Gen 13.3" (33.78 cms) FHD Thin and Light Laptop (16GB/1TB SSD/Windows 10/Office 2019/Intel Iris Xᵉ Graphics/Lilac Mist/1.14 kg), UX325EA-KG701WS',
 'Dell Inspiron 2-in-1 13.3" 4K UHD IPS LED-Backlight Touch-Screen Laptop, Intel Quad-Core i7-8565U Up to 4.6GHz, 16GB DDR4, 256GB PCIe SSD, Fingerprint Reader, USB 3.1-C, Backlit Keyboard, Windows 10',
 'Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM  33.78cm (13.3") AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.16Kg), NP730QED-KA1IN',
 'Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7 EvoTM  33.78 cm (13.3") Touchscreen 2-in-1 AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MSO Home & Student 2021/Silver/1.04Kg), NP930QED-KB2IN']

In [11]:
price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price_tag:
    name=i.text
    price.append(name)
price

['77,990',
 '1,14,990',
 '86,990',
 '86,990',
 '89,611',
 '57,310',
 '1,14,990',
 '89,990',
 '82,990',
 '86,990',
 '96,990',
 '92,790',
 '68,990',
 '98,592',
 '1,24,990',
 '1,29,990',
 '84,590',
 '1,69,990',
 '1,16,996',
 '89,990',
 '1,09,990',
 '44,940',
 '92,990',
 '48,999',
 '54,499',
 '1,02,842',
 '1,02,659',
 '1,35,409',
 '1,05,990',
 '1,20,990']

In [12]:
print(len(title),len(price))

30 30

In [14]:
i7=pd.DataFrame({})
i7['Title']=title[:10]
i7['Price']=price[:10]

In [15]:
i7

                                               Title     Price
0  Mi Notebook Ultra 3.2K Resolution Display Inte...    77,990
1  Samsung Galaxy Book2 Pro Intel 12th Gen i7 Evo...  1,14,990
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    86,990
3  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...    86,990
4  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...    89,611
5  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    57,310
6  Samsung Galaxy Book2 Pro Intel 12th Gen i7 Evo...  1,14,990
7  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    89,990
8  ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...    82,990
9  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    86,990

For Intel core i9

In [16]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.amazon.in/")

In [17]:
product_search=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product_search.send_keys("Laptops")

In [18]:
search=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [19]:
cpu_filter=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[15]/span/a/div/label/i")
cpu_filter.click()

In [20]:
title=[]
price=[]

In [21]:
title_tag=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tag:
    name=i.text
    title.append(name)
title

['Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'ASUS ROG Strix SCAR 15 (2022), 15.6-inch (39.62 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3080 Ti 16GB Graphics, Gaming Laptop (32GB/1TB SSD/Win 11/Office 2021/Black/2.3 Kg), G533ZX-LN024WS',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cms) 2K WQHD 240Hz/3ms, Intel Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/1TB SSD/Win 11/Office 2021/Black/2.3 kg) G533ZW-LN136WS',
 'ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 cms) 2K QHD 165Hz/3ms, Core i9-12900H 12th Gen, RTX 3080 Ti 16GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2 Kg), GU603ZX-K8024WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.62 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.3 Kg), G533ZW-LN106WS',
 'ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.94 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.9 Kg), G733ZW-LL105WS',
 '(Renewed) HP Omen 15-dh0139TX Gaming Laptop (9th Gen i9-9880H/16GB/1TB HDD + 512GB SSD/Win 10/8GB NVIDIA RTX 2080 Graphics) & Z3700 Wireless Mouse',
 'HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SSD/15.6 inch(39.6 cm) 400 nits,4K AMOLED Touch, TUV + Win 11 Pro 64/NVIDIA GeForce RTX 3060 6GB Graphics/Alexa/FPR /B&O/2.14kg,15-ep1087TX, Natural Silver',
 'Dell Precision 5550 || i9 -10885H || 16GB || 1TB NVMe || T2000 4 GB || Win 10 Pro (Free Upgrade Win 11Pro) / 15.6 FHD+ / 3 Year ADP',
 'HP Zbook - Intel i9 14 inch(35.6 cm)FHD, Thin & Light ,Touchscreen, Anti-Glare(32GB RAM/1TB M.2 SSD/NVIDIA T1200 4GB Graphics/Win10 Pro/IR Camera/Audio by B&O- HP Power G8 Mobile Workstation']

In [22]:
price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price_tag:
    name=i.text
    price.append(name)
price

['1,44,990',
 '3,01,521',
 '1,44,990',
 '2,33,304',
 '3,31,990',
 '1,69,990',
 '2,85,990',
 '1,38,000',
 '2,02,990',
 '2,25,000',
 '2,26,000']

In [23]:
i9=pd.DataFrame({})
i9['Title']=title[:10]
i9['Price']=price[:10]

In [24]:
i9

                                               Title     Price
0  Acer Predator Helios 300 11th Gen Intel Core i...  1,44,990
1  ASUS ROG Strix SCAR 15 (2022), 15.6-inch (39.6...  3,01,521
2  Acer Predator Helios 300 11th Gen Intel Core i...  1,44,990
3  ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cm...  2,33,304
4  ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 c...  3,31,990
5  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  1,69,990
6  ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.6...  2,85,990
7  ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.9...  1,38,000
8  (Renewed) HP Omen 15-dh0139TX Gaming Laptop (9...  2,02,990
9  HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SS...  2,25,000

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/

2. Click on the Job option

3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.

4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.

5. Then scrape the data for the first 10 jobs results you get on the above shown page.

6. Finally create a dataframe of the scraped data.

In [3]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.ambitionbox.com/")

In [4]:
jobs=driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[6]')
jobs.click()

In [5]:
designation=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
designation.send_keys("Data Scientist")

In [6]:
search=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search.click()

In [7]:
location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location.click()

In [8]:
search_location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_location.send_keys("Noida")

In [9]:
location_click=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
location_click.click()

In [10]:
comp_name=[]
days=[]
rating=[]

In [11]:
comp_tags=driver.find_elements_by_xpath('//div[@class="company-info"]/p')

In [12]:
for i in comp_tags:
    title=i.text
    comp_name.append(title)
comp_name[1:]

['GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'Tech Mahindra Ltd',
 'GENPACT India Private Limited',
 'HCL Technologies',
 'Bristlecone India Limited',
 'Zyoin',
 'Newgen Software Technologies Ltd.',
 'Pitney Bowes India Pvt Ltd',
 'JK Technosoft Ltd']

In [13]:
days_tags=driver.find_elements_by_xpath('//span[@class="body-small-l"]')

In [14]:
for i in days_tags:
    day=i.text
    days.append(day)
days[::2]

['5d ago',
 '10d ago',
 '24d ago',
 '27d ago',
 '1mon ago',
 '5d ago',
 '9d ago',
 '11d ago',
 '1mon ago',
 '20d ago']

In [15]:
rating_tags=driver.find_elements_by_xpath('//span[@class="body-small"]')

In [16]:
for i in rating_tags:
    ratings=i.text
    rating.append(ratings)
rating

['4.0', '4.0', '3.7', '4.0', '3.8', '3.9', '4.1', '3.5', '4.3', '3.6']

In [19]:
df=pd.DataFrame({})
df['Company Name']=comp_name[1:11]
df['No. of days ago when job was posted']=days[:20:2]
df['Rating of the company']=rating[:10]

In [20]:
df

,Company Name,No. of days ago when job was posted,Rating of the company
0,GENPACT India Private Limited,5d ago,4.0
1,GENPACT India Private Limited,10d ago,4.0
2,Tech Mahindra Ltd,24d ago,3.7
3,GENPACT India Private Limited,27d ago,4.0
4,HCL Technologies,1mon ago,3.8
5,Bristlecone India Limited,5d ago,3.9
6,Zyoin,9d ago,4.1
7,Newgen Software Technologies Ltd.,11d ago,3.5
8,Pitney Bowes India Pvt Ltd,1mon ago,4.3
9,JK Technosoft Ltd,20d ago,3.6

# Q10: Write a python program to scrape the salary data for Data Scientist designation.

You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:

1. First get the webpage https://www.ambitionbox.com/

2. Click on the salaries option as shown in the image.

3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.

4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.

5. Store the data in a dataframe.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\balub\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\balub\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\balub\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\balub\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: outcome in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\balub\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\balub\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\balub\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\balub\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\balub\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\balub\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\balub\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\balub\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\balub\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\balub\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver=webdriver.Chrome("chromedriver.exe")

In [5]:
driver.get('https://www.ambitionbox.com/')

In [6]:
salaries=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salaries.click()

In [7]:
designation=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys("Data Scientist")

In [8]:
search=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
search.click()

In [9]:
company_name=[]
total_salary_record=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required=[]

In [10]:
comp_tags=driver.find_elements_by_xpath('//div[@class="name"]/a')

In [11]:
for i in comp_tags:
    comp=i.text
    company_name.append(comp)
company_name

['Walmart',
 'Ab Inbev',
 'Reliance Jio',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions']

In [12]:
tsr_tags=driver.find_elements_by_xpath('//div[@class="name"]/span')

In [13]:
for i in tsr_tags:
    tsr=i.text
    total_salary_record.append(tsr)
total_salary_record

['based on 11 salaries',
 'based on 32 salaries',
 'based on 10 salaries',
 'based on 15 salaries',
 'based on 27 salaries',
 'based on 81 salaries',
 'based on 46 salaries',
 'based on 53 salaries',
 'based on 14 salaries',
 'based on 13 salaries']

In [14]:
avg_tags=driver.find_elements_by_xpath('//div[@class="average-indicator-wrapper"]/p')

In [15]:
for i in avg_tags:
    avg=i.text
    average_salary.append(avg)
average_salary

['₹ 29.7L',
 '₹ 20.5L',
 '₹ 18.9L',
 '₹ 15.9L',
 '₹ 15.2L',
 '₹ 15.2L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 12.7L',
 '₹ 12.4L']

In [16]:
min_tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]')

In [17]:
for i in min_tags:
    min=i.text
    minimum_salary.append(min)
minimum_salary[:20:2]

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 5.6L',
 '₹ 9.8L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L']

In [18]:
max_tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]')

In [19]:
for i in max_tags:
    max=i.text
    maximum_salary.append(max)
maximum_salary[1:20:2]

['₹ 35.0L',
 '₹ 25.5L',
 '₹ 26.2L',
 '₹ 20.0L',
 '₹ 22.0L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L']

In [33]:
exp_tags=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

In [34]:
exp_tag=[]
for i in dsexp_tags:
    exp=i.text.split()[3:]
    exp_tag.append(exp1)
exp_tag

[['4', 'yrs', 'exp'],
 ['4', 'yrs', 'exp'],
 ['4', 'yrs', 'exp'],
 ['4', 'yrs', 'exp'],
 ['4', 'yrs', 'exp'],
 ['4', 'yrs', 'exp'],
 ['4', 'yrs', 'exp'],
 ['4', 'yrs', 'exp'],
 ['4', 'yrs', 'exp'],
 ['4', 'yrs', 'exp']]

In [36]:
df=pd.DataFrame({})
df['Company Name']=company_name[:10]
df['Total Salary Record']=total_salary_record[:10]
df['Average Salary']=average_salary[:10]
df['Minimum Salary']=minimum_salary[:20:2]
df['Maximum Salary']=maximum_salary[1:20:2]
df['Experience Required']=exp_tag[:10]

In [37]:
df

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,based on 11 salaries,₹ 29.7L,₹ 25.0L,₹ 35.0L,"[4, yrs, exp]"
1,Ab Inbev,based on 32 salaries,₹ 20.5L,₹ 15.0L,₹ 25.5L,"[4, yrs, exp]"
2,Reliance Jio,based on 10 salaries,₹ 18.9L,₹ 5.6L,₹ 26.2L,"[4, yrs, exp]"
3,ZS,based on 15 salaries,₹ 15.9L,₹ 9.8L,₹ 20.0L,"[4, yrs, exp]"
4,Optum,based on 27 salaries,₹ 15.2L,₹ 11.0L,₹ 22.0L,"[4, yrs, exp]"
5,Fractal Analytics,based on 81 salaries,₹ 15.2L,₹ 9.5L,₹ 22.0L,"[4, yrs, exp]"
6,Tiger Analytics,based on 46 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L,"[4, yrs, exp]"
7,UnitedHealth,based on 53 salaries,₹ 14.0L,₹ 8.3L,₹ 20.5L,"[4, yrs, exp]"
8,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,"[4, yrs, exp]"
9,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,"[4, yrs, exp]"